html, body {
  margin: 0;
  padding: 0;
  background: #2F4F4F;
  color: #FFFFFF;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px; }
h1 {
 color: #FFFF33;
 text-align: center;
 border: 12px groove skyblue
}
h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

h2, h3 {
  width: 50%;
  height: 60px;
  margin: 100px;
  padding: 135px;
  
  
  display: inline;
}
div#disp{
  padding-top: 75px;
  font-size: 45px;
  color: skyblue;
  text-align: center;
}

div#rack{
  padding-top: 50px;
  font-size: 45px;
  color: skyblue;
  text-align: center;
  padding-right: 20px;
}
  
div#user_inp{
  padding-top: 50px;

  font-size: 45px;
  color: skyblue;
  text-align: center;
  padding-right: 20px;
}
input {
  background-color: lime ;
  height: 15%;
  width: 35%;

  color: navy;
}
button#start{
  background-color: lightcoral;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
button#enter{
  background-color: lightcoral;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}






